[Unit]
Description=OfficeTools temp file cleanup
[Service]
Type=oneshot
ExecStart=/home/clowniiizzz/yosua-portfolio/officetools/venv/bin/python3 /home/clowniiizzz/yosua-portfolio/officetools/cleanup.py
